<h1><%= "ユーザー一覧" %></h1>
  <table>
    <td>
      <tr>
        <th>ID</th>
        <th>名前</th>
      </tr>
    </td>
    <% @users.each do |user| %>
      <tr>
        <th><%= user.id %></th>
        <th><a href="/user/<%= user.id %>"><%= user.name %></a></th>
      </tr>
    <% end %>
  </table>


