<h2>投稿一覧</h2>
<table>
  <tr>
    <th><p>投稿タイトル</p></th>
    <th><p>投稿内容</p></th>
    <th><p>投稿者</p></th>
  </tr>
  <tr>
    <td>サンプル投稿</td>
    <td>サンプル</td>
    <td>ふみ</td>
  </tr>
</table>
<ul>
  <% @posts.each do |post| %>
    <li>
      <a href="post/<%= post.id %>"><%= post.title %></a> <%= post.created_at %>
    </li>
  <% end %>
</ul>

 <h2>新規投稿</h2>
 <form method="post" action="/post">
    <label for="title">タイトル：</label>
    <input type="text" name="title">
    <label for="body">投稿内容：</label>
    <input type="text" name="body">
    <input type="submit" value="新規投稿" >
 </form>
 