<h2>投稿一覧</h2>
<table>
  <tr>
    <th>タイトル</th>
    <th>投稿日時</th>
    <th>更新日時</th>
  </tr>
  <tr>
    <% @posts.each do |post| %>
      <td><a href="post/<%= post.id %>"><%= post.title %></a></td>
      <td><%= post.created_at.strftime('%Y/%m/%d %H:%M:%S') %></td>
      <td><%= post.updated_at.strftime('%Y/%m/%d %H:%M:%S') %></td>
  </tr>
    <% end %>
</table>

<h2>新規投稿</h2>
<form method="post" action="/post">
  <label for="title">タイトル：</label>
  <input type="text" name="title">
  <label for="body">投稿内容：</label>
  <input type="text" name="body">
  <input type="submit" value="新規投稿" >
</form>
