<h2>投稿一覧</h2>
<ul>
  <% @posts.each do |post| %>
    <li>
      <a href="post/<%= post.id %>"><%= post.title %></a> | <%= post.created_at.strftime('%a %d %b %Y') %> | <%= post.updated_at.strftime('%a %d %b %Y')  %>
    </li>
  <% end %>
</ul>

<h2>新規投稿</h2>
<form method="post" action="/post">
  <label for="title">タイトル：</label>
  <input type="text" name="title">
  <label for="body">投稿内容：</label>
  <input type="text" name="body">
  <input type="submit" value="新規投稿" >
</form>
