<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Sinatra Blog</title>
	<link rel='stylesheet' href='/css/style.css' />
	<link href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css' rel='stylesheet' />
</head>
<body>
	<div class="container">
		<nav class="navbar">
			<ul>
				<li><a class="btn btn-primary" href="/">Home</a></li>
				<li><a class="btn btn-warning" href="/user">ユーザー一覧</a></li>
				<li><a class="btn btn-info" href="/">投稿一覧</a></li>
			</ul>
		</nav>
		<%= yield %>
	</div>
</body>
</html>
