<!DOCTYPE html>
<html lang="jp">
  <head>
    <meta charaset="utf-8">
    <title>Sinatra Blog</title>
  </head>
  <body>
    <ul>
      <li><a href="/">Home</a></li>
    </ul>
    <%= yield %>
  </body>
</html>