<% if @user.errors.present? %>
  エラーがあります
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<form action="/signup" method="post">
  <label for="name">ユーザー名</label>
  <input type="text" name="name" id="name" value="<%= @user.name %>">
  <label for="password">パスワード</label>
  <input type="text" name="password" id="password" value="<%= @user.password %>">
  <button type="submit">アカウント作成</button>
</form>
