<form method="post" action="/user">
  <label for="name">名前：</label>
  <input type="text" name="name">
  <button type="submit">登録する</button>
</form>

<%= "ユーザー一覧です" %>

<% @users.each do |user| %>
  <%= user.id %>：<%= user.name %>
<% end %>
